// reset
@import "variables";
@import "base";
// @import "utilities";
@import "syntax";
@import "vendor/magnific-popup/magnific-popup";

/* Light */
@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 300;
  src: local('NotoSansKR-Light'),
       url('//cdn.jsdelivr.net/korean-webfonts/latest/corps/google/NotoSansKR/NotoSansKR-Light-Hangul.woff2') format('woff2'),
       url('//cdn.jsdelivr.net/korean-webfonts/latest/corps/google/NotoSansKR/NotoSansKR-Light-Hangul.woff') format('woff');
  font-stretch: normal;
  unicode-range: U+0021-33FF,U+A000-F8FF,U+FB00-F251;
}

$bg-gray: #DEE3EC;
$strong-blue:#4380F3;

* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size               : 18px;
  -ms-text-size-adjust    : 100%;
  -webkit-text-size-adjust: 100%;
  @media screen and (max-width: $small) {
    font-size: 16px;
  }
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li,ol,ul{
  line-height: 1.6;
}

a {
  text-decoration: none;
}

// font restet
h1, h2, h3, h4, h5, h6, b, strong,p, span, a{
  color: #333;
  line-height: 1.6 !important;
  letter-spacing: .8;

}

// bold font
h1, h2, h3, h4, h5, h6, b, strong{
  font-family: "Noto Sans Light","Malgun Gothic",sans-serif !important;
  font-weight: 700;
}

// font
p, span, a{
  font-family: "Noto Sans Light","Malgun Gothic",sans-serif !important;
  font-weight: 200;
  font-size: 100%;
}

.pagination{
  text-align: center;
  font-weight: 700;
  padding-top: 16px;
  padding-bottom: 16px;
  a:nth-child(1){
    float: left;
    display: block;
    background: $strong-blue;
    padding: 4px;
    border-radius: 1px;
    width: 100px;
    color: #fff;

  }
  a:nth-child(2){
    float: right;
    display: block;
    background: $strong-blue;
    border-radius: 1px;
    width: 100px;
    padding: 4px;
    color: #fff;

  }
}
.pagination::after{
  content: '';
  height: 0;
  display: block;
  clear: both;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin        : 0;
  padding       : 0;
  border        : 0;
  font          : inherit;
  font-size     : 100%;
  vertical-align: baseline;
}

::selection {
  color     : $white;
  background: $orange;
}

::-moz-selection {
  color     : $white;
  background: $orange;
}
/* HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height : 0;
}

progress {
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
a {
  background-color: transparent;
}

a:active,
a:focus,
a:hover {
  outline-width: 0;
}
/* Text-level semantics
   ========================================================================== */
abbr[title] {
  border-bottom  : none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin   : 0.67em 0;
}

mark {
  background-color: #ff0;
  color           : #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size     : 75%;
  line-height   : 0;
  // position      : relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
code,
kbd,
pre,
samp {
  font-family: $code-font;
}

figure {
  margin: 0;
}

hr {
  box-sizing      : content-box;
  overflow        : visible;
  height          : 1px;
  background-color: #dedede;
  border          : 0;
}
/* Forms
   ========================================================================== */
button,
input,
select,
textarea {
  font: inherit;
}

optgroup {
  font-weight: bold;
}

button,
input,
select {
  overflow: visible;
}

button,
input,
select,
textarea {
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border : 0;
  outline: 0;
  padding: 0;
}

button:-moz-focusring,
input:-moz-focusring {
  outline: 0;
}

fieldset {
  border : 1px solid #c0c0c0;
  margin : 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing : border-box;
  color      : inherit;
  display    : table;
  max-width  : 100%;
  padding    : 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding   : 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
