@import "reset.css";
@import "hamburgers.min.css";
@import "vendor/fonts";
@import "vendor/font-awesome/font-awesome";



$bg-gray: #DEE3EC;
$strong-blue:#4380F3;

/* width */
::-webkit-scrollbar {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}

// header wrap
header{
  width: 24%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 16px;
  background: $bg-gray;
  nav{
    ul,li{
      list-style: none;
    }
    .menu-wrap, .social-links{
      width: 200px;
      display: block;
      margin: 0 auto;
      margin-top: 16px;
    }
    .social-links{
      li{
        float: left;
        box-sizing: border-box;
        padding-right: 16px;
      }
    .social-links::after{
      content: '';
      height: 0;
      display: block;
      clear: both;
    }
    }
  }
  #post-button{
    display: none;
  }
}

// profile wrap
.profile-wrap{
  width: 200px;
  margin: 0 auto;
  .logo-text a{
    font-weight: 700;
    display: block;
  }
}

// content wrap
.content-wrap{
  width: 76%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;


  .right-content-wrap{
    box-sizing: border-box;
  }

  .left-post-wrap{
    width: 20%;
    height: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    background: $bg-gray;
  }
  .right-content-wrap{
    width: 80%;
    height: 100%;
    float: left;
    overflow-y:scroll;
  }
}

// post list-style
.left-post-wrap{
  .post-list-head-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    h3{
      box-sizing: border-box;
      padding: 16px 16px 0 16px;
      background: $bg-gray;

    }

  }
  ul,li{
    list-style: none;
  }
  ul{
    box-sizing: border-box;
    padding: 64px 16px 0 16px;
    width: 100%;
    .post-list{
      padding: 8px;
      margin-top: 16px;
      margin-bottom: 8px;
      box-sizing: border-box;
      background: #fff;
      border-radius: 1px;
      transition: all .1s ease-in-out;

      .post-list-title{
        font-weight: 400;
        transition: all .1s ease-in-out;
      }
      .post-list-title::after{
        content: '';
        height: 1px;
        width: 10%;
        display: block;
        background: rgba(0,0,0,.2);
        margin-top: 4px;
        margin-bottom: 6px;
        transition: all .3s ease-in;
      }
      .post-list-date{
        font-size: 80%;
        font-weight: 200;
      }
    }
    .post-list:nth-child(1){
      margin-top: 8px !important;
    }
    .post-list:hover{
      transform: scale(1.1);
      -webkit-box-shadow: 0px 10px 30px -10px rgba(0,0,0,.2);
      box-shadow: 0px 10px 30px -10px rgba(0,0,0,.2);
    }
    .post-list:hover .post-list-title{
      color: $strong-blue;
    }
    .post-list:hover .post-list-title::after{
      width: 50%;
      background: $strong-blue;
    }

  }
}

// document wrap
.content-title-wrap,.content-document-wrap{
  width: 100%;
  article{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 16px;
  }
}

.content-title-wrap{
  height: 180px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0,.1);
  article{
    h2{
      font-size: 2em;
      font-weight: 700;
      padding-top: 62px;
    }
  }
}

.content-document-wrap{
  article{
    padding-top: 32px;
    padding-bottom: 32px;
    li{
      box-sizing: border-box;
      margin-left: 16px;
    }
    ul,li,ol{
      line-height: 1.8;
    }
    ul{
      padding-top: 16px;
      padding-bottom: 16px;
      font-weight: 200;
    }
    h3{
      font-size: 1.4em;
      font-size: 700;
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}


// footer
footer{
  height: 48px;
  width: 100%;
  address{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    line-height:48px;
    font-style: normal;
    padding: 0 16px;
    color: rgba(0,0,0,.2);
  }
}

// display 960px
@media(max-width:960px){
  header{
    width: 100%;
    height: 48px;
    background: #fff;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom:1px solid rgba(0, 0, 0, .1);
    background: #fff;
    position: fixed;
    z-index: 100;

    nav{
      margin-right: 32px;
      .menu-wrap, .social-links{
        width: auto;
        margin: 0;
        float: right;
        line-height: 48px !important;

      }
      .menu-wrap{
        >li{
          float: left;
          box-sizing: border-box;
          padding-left: 16px;
        }
        .social-links{
          li:nth-child(1){
            padding-left: 16px;
          }
        }

      }
    }
    #post-button{
      display: block;
      position: fixed;
      z-index: 1000 !important;
      transform: scale(.5);
      right: -6px;
      top: -5px;
    }
  }
  // profile wrap
  .profile-wrap{
    width: auto;
    float: left;
    height: 48px;
    .logo-text a{
      font-size: 90%;
      display: inline;
      text-align: justify;
      line-height: 48px !important;
    }
  }

  // content wrap
  .content-wrap{
    width: 100%;
    height: 100%;
    position: fixed;
    padding-top: 48px;
    box-sizing: border-box;

    .right-content-wrap{
      box-sizing: border-box;
      padding: 16px 16px 0 16px;

    }

    .left-post-wrap{
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      float: none;
      background: $bg-gray;
      display: none;
      ul{
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        z-index: 100;
        .post-list{
          width: 90%;
        }
        .post-list:hover{
          transform: none;
        }

      }
      .post-list-head-text{
        display: none;
      }
    }

    .right-content-wrap{
      width: 100%;
      float: none;
    }
  }

}
