<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

  <!-- header -->
  {% include header.html %}

  <!-- content-wrap -->
  <section class="content-wrap">

    <!-- post-list -->
    {% include postlist.html %}

    <!-- document-wrap -->
    <section class="right-content-wrap">
      <section class="content-title-wrap">
        <article>
            <h2>{{ page.title }}</h2>
            <div class="date-highlight">{% if page.date %}{{ page.date | date: '%d %b %Y' }}{% else %}&#x2756;{% endif %}</div>

          </article>
      </section>
        {{ content }}


      <!-- 푸터영역 -->
      <footer>
        <address>
          <p>2018 &copy;  <a href="">younlab.github.io</a></p>
        </address>
      </footer>
    </section>
  </section>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript">
    $('#post-button').click(
        function() {
            $('#post-list-wrap').toggle(['swing', 'fast', '800']);
        }
    );

    $('.hamburger').click(
      function() {
          $('button.hamburger').toggleClass('is-active');
      }
    );
  </script>
</body>
</html>
